<div class="container border border-secondary-subtle p-3" >
    <app-title title="Aluno - Incluir"></app-title>
    <form>
        <div class="row">
            <div class="col">
                <app-input label="Carga Horária" type="number" model="course.nome" name="nome"></app-input>     
            </div>
            <div class="col">
                <app-input label="Data Início" type="date"></app-input>    
            </div>
        </div>   
    </form>
    <div class="d-flex">
        <div><app-button name="Incluir"></app-button></div>
        <div class="mx-2"><app-button name="Voltar" routerLink="/student/read"></app-button></div>
    </div>
</div>
