<table class="table mt-4">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Codigo</th>
        <th scope="col">Nome</th>
        <th scope="col">Instrutor</th>
        <th scope="col">Local</th>
        <th scope="col">Carga Horaria</th>
        <th scope="col">Data Inicio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><input class="form-check-input" type="radio"></th>
        <th scope="row">1</th>
        <td>Angular</td>
        <td>Genival</td>
        <td>Softex</td>
        <td>36</td>
        <td>03/02/2020</td>
      </tr>
      <tr>
        <th><input class="form-check-input" type="radio"></th>
        <th scope="row">2</th>
        <td>Java</td>
        <td>Marlon</td>
        <td>Softex</td>
        <td>60</td>
        <td>06/02/2020</td>
      </tr>
    </tbody>
  </table>
